<header *ngIf="showHeader | async">
    <div class="relative overflow-hidden bg-gray-900">
        <div class="mx-auto max-w-7xl px-6 pb-2 pt-5 sm:pb-10 lg:flex lg:px-8 lg:pt-5">
            <div class="mx-auto max-w-2xl flex-shrink-0 lg:mx-0 lg:max-w-xl lg:pt-8">
                <div>
                    <a href="#" class="inline-flex space-x-6">
                        <span
                            class="rounded-full bg-indigo-500/10 px-3 py-1 text-sm font-semibold leading-6 text-cyan-500 ring-1 ring-inset ring-indigo-500/20">Home</span>
                        <span class="inline-flex items-center space-x-2 text-sm font-medium leading-6 text-gray-300">
            <span>About us</span>
          </span>
                    </a>
                </div>
                <h1 class="mt-10 text-4xl font-bold tracking-tight text-white sm:text-6xl">The largest selection of job
                    ads in one place</h1>
                <p class="mt-6 text-lg leading-8 text-gray-300">Explore the unique opportunities just a click away</p>
                <div class="mt-10 flex items-center gap-x-6">
                    <a routerLink="/dashboard"
                       class="rounded-md bg-orange-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-400">
                        Post your job ad
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<router-outlet></router-outlet>
