<header>
    <div class="navbar absolute z-10">
        <a routerLink="/" class="btn btn-ghost text-xl">TX Jobs</a>
    </div>
</header>
<section class="pt-16 header-bg">
    <div class="relative overflow-hidden ">
        <div class="mx-auto max-w-7xl pb-6 pt-1 sm:pb-10 lg:flex lg:pb-8  md:px-4 sm:px-2">
            <div class="mx-auto max-w-2xl flex-shrink-0 lg:mx-0 lg:max-w-xl">
                <h1 class="mt-10 text-4xl font-bold tracking-tight text-white sm:text-6xl">The largest selection of job
                    ads in one place</h1>
                <p class="mt-6 text-lg leading-8 text-gray-300">Explore the unique opportunities just a click away</p>
                <div class="mt-10 flex items-center gap-x-6">
                    <a routerLink="/dashboard"
                       class="rounded-md bg-orange-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-400">
                        Post your job ad
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<main class="max-w-7xl mx-auto">
    <router-outlet></router-outlet>
</main>

